html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 2em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.text-muted {
  color: #848b8f;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
    Structure & Defaults
   ========================================================================== */
html,
body {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  background: #ffffff;
  color: #a6cddf;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
body p {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}
a {
  color: #2f4881;
  text-decoration: none !important;
  -webkit-transition: color 200ms ease-in-out;
  -moz-transition: color 200ms ease-in-out;
  -o-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}
a:hover {
  color: #CCCC33;
}

#products a {
  color: #e58701;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}
input.main-button,
.main-button {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  color: #ffffff;
  background-color: #39c8e2;
  outline: 0;
  border: 0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
/* ==========================================================================
    Header
   ========================================================================== */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 1000;
  overflow: hidden;
  padding-bottom: 10px;
}
@include transition(all 250ms ease-in-out);
.site-header .logo {
  margin-top: 42px;
}
.site-header.scrolled {
  background: white;
}
.menu-holder {
  position: relative;
}
.main-menu {
  margin-top: 45px;
}
.main-menu ul {
  padding: 20px;
  margin: 0;
  list-style: none;
}
.main-menu ul li {
  display: inline-block;
  margin: 0 20px;
}
.main-menu ul li a {
  text-transform: uppercase;
  font-size: 16px;
}
.main-menu ul li.active a {
  color: grey;
}
ul.social-top {
  padding: 0;
  margin: 20px 0 0 0;
}
ul.social-top li {
  display: block;
}
ul.social-top li a i {
  color: black;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid #39c8e2;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  text-align: center;
  line-height: 20px;
  font-size: 10px;
}

/*MENU*/

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Work+Sans:700);
* {
  font-display: fallback;
  color: #1d72c3;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}

* .social-top .hidden-xs {
  color: black;
}

html {
  font-size: 10px;
}

section {
  padding: 12.5%;
  width: 100%;
}
section:nth-of-type(even) {
  background: #fff;
  color: #111;
}

p {
  margin-bottom: 2.5em;
}

a {
  color: aliceblue;
  text-decoration: none;
}

h2 {
  font: bold 2.8rem "Work Sans", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 2em;
}

nav {
  mix-blend-mode: difference;
  z-index: 100;
}
nav ul {
  position: fixed;
  top: 69px;
  right: 41px;
  height: 100vh;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
  width: 35px;
}
nav ul li { !important;
  border-bottom: double;
  font: 1em "Work Sans", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}
nav.active ul {
  visibility: visible;
  pointer-events: initial;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-icon {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 43px;
  right: 15px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 35px;
}
.nav-icon span {
  position: absolute;
  top: 15px;
  left: 5px;
  background: #fff;
  display: block;
  height: 3px;
  right: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.nav-icon span:before, .nav-icon span:after {
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
  display: block;
  left: 0;
  position: absolute;
}
.nav-icon span:before {
  top: -8px;
}
.nav-icon span:after {
  bottom: -8px;
}
.active .nav-icon span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*END MENU*/

.content-section {
  padding-top: 80px;
}
.top-c {
  background: url(../images/slider-bg.webp) fixed no-repeat top center;
  background-size: cover;
  width: 100%;
  height: 504px;
  margin-top: 120px;
  position: relative;
  z-index: 12;
}
.top-c .topc-img {
  margin-top: 35px;
  overflow: hidden;
  width: 100%;
}
.top-c .topc-img img {
  width: 100%;
  border-radius: 50%;
}
.top-c ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.top-c ul li {
  display: block;
  margin-bottom: 7px;
  color: #fff;
}
.top-c ul i {
  margin-right: 10px;
}
.top-c h3.topc-title {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  margin: 110px 0 30px 0;
}
.top-w {
  width: 100%;
  height: 504px;
  margin-top: 120px;
  position: relative;
  z-index: 12;
}
.top-w .topw-img {
  margin-top: 35px;
  overflow: hidden;
  width: 100%;
}
.top-w .topw-img img {
  margin: 10px auto;
  width: 80%;
  border-radius: 20%;
  
}
#services {
  background: url(../images/service-bg.webp) no-repeat top center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
#services .service-item .service-icon {
  width: 136px;
  height: 136px;
  line-height: 136px;
  text-align: center;
  color: #579dd2;
  border: 2px solid #2f4881;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  font-size: 32px;
  margin: 0 auto;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
#services .service-item .service-icon i {
  text-align: center;
  line-height: 136px;
}
#services .service-item h3.service-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #2f4881;
  font-weight: 600;
  margin-top: 25px;
}
#services .service-item:hover .service-icon {
  background: #2f4881;
  color: #ffffff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#clientes {
  background: url(../images/clientes-bg.webp) no-repeat top center;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
#clientes .clientes-item .clientes-icon {
  width: 136px;
  height: 136px;
  line-height: 136px;
  text-align: center;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20%;
  -moz-background-clip: padding;
  border-radius: 20%;
  background-clip: padding-box;
  font-size: 32px;
  margin: 0 auto;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
#clientes .clientes-item .clientes-icon i {
  text-align: center;
  line-height: 136px;
}
#clientes .clientes-item h3.clientes-title {
  text-transform: none;
  font-size: 16px;
  color: #2f4881;
  font-weight: 600;
  margin-top: 25px;
}
#clientes .container h2.clientes-title-sup {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #2f4881;
  font-weight: 800;
  margin-top: 25px;
}
#clientes .clientes-item:hover .clientes-icon {
  background: #2f4881;
  color: #ffffff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

#work {
  background color: #1e1818db;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}
#work .work-item .work-icon {
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 20%;
  -moz-background-clip: padding;
  border-radius: 20%;
  background-clip: padding-box;
  font-size: 32px;
  margin: 0 auto;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotateX(30deg);
}
#work .work-item .work-icon i {
  margin: auto;
  text-align: center;
  line-height: 136px;
  border-radius: 20%;
}
#work .work-item h3.work-title {
  text-transform: none;
  font-size: 16px;
  color: #2f4881;
  font-weight: 600;
  margin-top: 25px;
}
#work .container h2.work-title-sup {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #3dacd9;
  font-weight: 800;
  margin-top: 25px;
}
#work .work-item:hover .work-icon {
  background: #ffffff;
  color: #ffffff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.site-footer {
  background: url(../images/footer-bg.webp) no-repeat bottom;
  background-size: cover;
  color: #ffffff;
  position: relative;
  z-index: 7px;
  margin-top: 65px;
  padding: 30px 0;
}
.site-footer p {
  margin-top: 20px;
  text-align: center;
}


@media (max-width: 992px) and (min-width: 780px) {
	.container {
		width: 96%;
	}
}

/*  Medium devices (desktops, 992px and up)  */

@media (max-width: 992px) {


/*  ul.social-top {
    text-align: right;
  }
  ul.social-top li {
    display: inline-block;
    margin-right: 6px;
  }*/
  ul.social-top {
    margin-top: 10px;
	margin-left: 10px;
  }
  ul.social-top span {
	  font-size: 15px;
    color: black;
  }
  .top-c {
	background-position: top;
	height: auto;
    padding-bottom: 60px;
  }
  .top-c .topc-img {
    margin-top: 100px;
  }
  .top-c h3.topc-title {
    margin-top: 100px;
  }
  .top-w {
  background-position: top;
  height: auto;
    padding-bottom: 60px;
  }
  .top-w .topw-img {
    margin-top: 100px;
  }
  #services {
/*  background-image: none;
    background-color: #ececec;	*/
    margin-top: 0;
	padding-top: 100px;
    padding-bottom: 60px;
  }
  #services .service-item {
    margin-bottom: 40px;
  }

  #clientes {
/*  background-image: none;
    background-color: #ececec;  */
    margin-top: 0;
  padding-top: 100px;
    padding-bottom: 60px;
  }
  #clientes .clientes-item {
    margin-bottom: 40px;
  }
  .site-footer {
/*  background-image: none; 	*/
    background-color: #111a1f;
    margin-top: 0;
    padding: 15px 0;
  }
}
/*  Small devices (tablets, 768px and up)  */
@media (max-width: 768px) {
  .top-c {
    text-align: center;
  }
  .top-c .topc-img {
    margin-top: 60px;
  }
  .top-c h3.topc-title {
    margin-top: 60px;
  }
  .top-w {
    text-align: center;
  }
  .top-w .topw-img {
    margin-top: 60px;
  }
    .site-header .logo {
    margin-top: 20px;
  }
  ul.social-top li {
    display: inline-block;
    margin-right: 6px;
  }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
